.homelink {
  transition: 1s;
  color: white;
}
.homelink span {
  font-size: 1.5vw;
}
.homelink:hover {
  text-decoration: none;
  letter-spacing: 0.5vw;
  color: #FF8C00;
  background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}